<!DOCTYPE html>
<html lang="en-US" dir="ltr"xmlns:th="http://www.thymeleaf.org">

<!--Header 설정 -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>CollectsPop</title>
    <!--
    Favicons
    ============================================= -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="src/main/resources/static/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link href="src/main/resources/static/assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="src/main/resources/static/assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="src/main/resources/static/assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="src/main/resources/static/assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="src/main/resources/static/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="src/main/resources/static/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="src/main/resources/static/assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="src/main/resources/static/assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    
    <!-- Main stylesheet and color file-->
    <link href="src/main/resources/static/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="src/main/resources/static/assets/css/style-main.css" rel="stylesheet" type="text/css">

    <!--side bar-->
    <script src="src/main/resources/static/assets/js/sidebar.js"></script>
    <script src="src/main/resources/static/assets/css/sidebar.css"></script>

</head>

<!--body-->
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">

    <div>
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" >
            <div class="container">
    
                <!--좌측 로고 -->
                <div class="navbar-header" >
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span>
                        <span class="icon-bar"></span></button><a class="navbar-brand" href="index.html" >COLLECTPOPS</a>
                </div>
    
                <!-- 우측 헤더 목록-->
                <div class="collapse navbar-collapse" id="custom-collapse" >
                    <ul class="nav navbar-nav navbar-right" style="display:inline-block;">
                        <li class=""><a class="" href="storeList.html" >팝업스토어</a></li>
                        <li class=""><a class="" href="map.html" >지도</a></li>
                        <li class=""><a class="" href="feed.html" >피드</a></li>
                        <li class=""><a class="" href="login.html">로그인</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    

    
<div class="main">

    <section class="module">
            <br/>    <br/>     <br/>
        <div class="container" style="width: 40%;">
            <div class="row">
                <table class="col-sm-5 col-sm-offset-1 mb-sm-40" style="width:80%; ">
                    <h4 class="font-alt" style="text-align:center;">로그인</h4>
                    <hr class="divider-w mb-10">

                    <form class="form" id="form" th:action th:object="${users}" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" th:field="*{username}"  placeholder="ID"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" th:field="*{password}" placeholder="Password"/>
                        </div>
                        <label style="display: flex; align-items: center;">
                            <input type="checkbox" class="checkbox" id="remember-me" name="remember-me">
                            아이디기억하기
                        </label>
                        <div class="form-group">
                            <button class="btn btn-round btn-b" type="submit" onclick="return fieldCheck()"
                            style="width:100%;">Login</button>
                        </div>
                        <br>

                        <label class="links-container">
                            <a href="join.html">회원가입</a>
                            <div class="right-links">
                                <a href="findID.html">아이디 찾기</a> 
                                <a href="findPW.html">비밀번호 재설정</a>
                            </div>
                            <a href="index.html">홈으로</a>

                        <!--카카오 로그인  onclick="kakaoLogin();"-->
                        <a  href="https://kauth.kakao.com/oauth/authorize?client_id=[APPKEY]&redirect_uri=[URL]&response_type=code"   class="kakao" >
                            <div class="kakao_i"></div>
                            <div class="kakao_txt">카카오톡으로 간편로그인 / 회원가입 ( 포트폴리오 용입니다.) </div>
                        </a>
                    </form>
                </table>
            </div>
        </div>
    </section>
</div>

      



<!-- End Main Content -->

<!-- Footer 붙히기 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.4/dist/umd/popper.min.js"></script>



<footer>

    <!-- Start Footer-->

    <div class="module-small bg-dark" style="padding: 0px 15px;  justify-content: space-between;">
        <div class="container">
            <!--로고 들어갈 공간 ,테스트용 이미지 첨가-->
            <div class="row" style="float:left">

                <label style="padding: 30px " >
                    <h2 class="widget-title font-alt">COLLECTPOP</h2>
                    주식회사 더조은  |  주소 : 서울시 김구 홍길동 11번가<br>
                    대표 : 홍길동하  |  사업자등록번호 : 123 -12- 12345 <br>
                    <a href="#" class="">이용약관</a> <br>
                    <a href="#" class="">개인정보처리방침</a>
                </label>
            </div>
            <div class="row" style="text-align:right; float:right;">
                <label style="padding: 30px " >
                    <h5 class="widget-title font-alt">운영문의</h5>
                    OFFICE : 12-123-1234 <br>
                    운영시간 <br>
                    평일 09:30-18:30 | 주말·공휴일 제외<br>
                    점심시간 <br>
                    평일 11:40-13:00
                </label>
            </div>
        </div>

    </div>


    <!--밑에 copyright 부분 -->
    <hr class="divider-d">
    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="copyright font-alt">&copy; 2023&nbsp; COLLECTPOPS , All Rights Reserved</p>
                </div>

                <div class="col-sm-6">
                    <div class="footer-social-links"><p> | 본 사이트는 포트폴리오용으로 제작되었습니다. Project 2023</p></div>
                </div>
               
            </div>
        </div>
    </footer>
    </div>
    <div class="scroll-up"><a href="#totop"><Fi class="fa fa-angle-double-up"></Fi></a></div>

</footer>

<script>

    $(document).ready(function () {

        $("#search-button").on("click", function () {
            var searchCategory = $("#search-category").val();
            var searchInput = $("#search-input").val();
        
        });

        $("#sort-selector1").on("change", function () {
            var selectedSortOption = $(this).val();
            
        });
    });
</script>

</body>
</html>
